@model ShareManagerEdgeMvc.Models.CifsShareAlias

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CifsShareAlias</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CifsShareAliasPairID)

        <div class="form-group">
            @Html.LabelFor(model => model.PrimaryCifsShareID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PrimaryCifsShareID", string.Empty)
                @Html.ValidationMessageFor(model => model.PrimaryCifsShareID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SecondaryCifsShareID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SecondaryCifsShareID", string.Empty)
                @Html.ValidationMessageFor(model => model.SecondaryCifsShareID)
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
