@model ShareManagerEdgeMvc.Models.CifsPermissionRequest

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CifsPermissionRequest</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CifsPermissionRequestID)

        <div class="form-group">
            @Html.LabelFor(model => model.CifsShareID, "CifsShareID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CifsShareID", String.Empty)
                @Html.ValidationMessageFor(model => model.CifsShareID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PermissionType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PermissionType)
                @Html.ValidationMessageFor(model => model.PermissionType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestType)
                @Html.ValidationMessageFor(model => model.RequestType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestJustification, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestJustification)
                @Html.ValidationMessageFor(model => model.RequestJustification)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestedForUserAlias, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestedForUserAlias)
                @Html.ValidationMessageFor(model => model.RequestedForUserAlias)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestedForUserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestedForUserName)
                @Html.ValidationMessageFor(model => model.RequestedForUserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestedByUserAlias, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestedByUserAlias)
                @Html.ValidationMessageFor(model => model.RequestedByUserAlias)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestedByUserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestedByUserName)
                @Html.ValidationMessageFor(model => model.RequestedByUserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestStatus)
                @Html.ValidationMessageFor(model => model.RequestStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestStatusMsg, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestStatusMsg)
                @Html.ValidationMessageFor(model => model.RequestStatusMsg)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestOpenedOnDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestOpenedOnDateTime)
                @Html.ValidationMessageFor(model => model.RequestOpenedOnDateTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequestClosedOnDateTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RequestClosedOnDateTime)
                @Html.ValidationMessageFor(model => model.RequestClosedOnDateTime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
