@model ShareManagerEdgeMvc.Models.CifsShare

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CifsShare</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.OuID, @Resources.OuSelectList, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OuID", @Resources.SelectListNull)
                @Html.ValidationMessageFor(model => model.OuID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CmdbCi, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CmdbCi)
                @Html.ValidationMessageFor(model => model.CmdbCi)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UncPath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UncPath)
                @Html.ValidationMessageFor(model => model.UncPath)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShareOwnerFunctionalArea, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShareOwnerFunctionalArea)
                @Html.ValidationMessageFor(model => model.ShareOwnerFunctionalArea)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShareOwnerCostCenter, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShareOwnerCostCenter)
                @Html.ValidationMessageFor(model => model.ShareOwnerCostCenter)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwnerGroup, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OwnerGroup)
                @Html.ValidationMessageFor(model => model.OwnerGroup)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReadOnlyGroup, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReadOnlyGroup)
                @Html.ValidationMessageFor(model => model.ReadOnlyGroup)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReadWriteGroup, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReadWriteGroup)
                @Html.ValidationMessageFor(model => model.ReadWriteGroup)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoChangeGroup, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoChangeGroup)
                @Html.ValidationMessageFor(model => model.NoChangeGroup)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownList("Status", @Resources.SelectListNull)
                
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
